[Desktop Entry]
Name=Freecraft
Comment=Real-time strategy gaming engine
Comment[pl]=Silnik gier strategicznych czasu rzeczywistego
Exec=freecraft
Icon=freecraft
Terminal=false
Type=Application
Categories=Application;Game;StrategyGame;
# vi: encoding=utf-8
